<div class="body">

  <div class="containser">
    <div class="banner">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2000" style= "height: 700px;">
            <%= image_tag "crapeau.jpg", style: "height: 100%; width: 100%; object-fit: cover;" %>
          </div>
          <div class="carousel-item" data-bs-interval="2000" style= "height: 700px;">
            <%= image_tag "lézard.jpg", style: "height: 100%; width: 100%; object-fit: cover;" %>
          </div>
          <div class="carousel-item" data-bs-interval="2000" style= "height: 700px; object-fit: cover;">
            <%= image_tag "papillon.jpg", style: "height: 100%; width: 100%; object-fit: cover;" %>
          </div>

          <div class="carousel-item" data-bs-interval="2000" style= "height: 700px; object-fit: cover;">
            <%= image_tag "tortue.jpg", style: "height: 100%; width: 100%; object-fit: cover;" %>
          </div>
          <div class="carousel-item" data-bs-interval="2000" style= "height: 700px; object-fit: cover;">
            <%= image_tag "anaconda.jpg", style: "height: 100%; width: 100%; object-fit: cover;" %>
          </div>
          <div class="carousel-item" data-bs-interval="2000" style= "height: 700px; object-fit: cover;">
            <%= image_tag "grenouille.jpg", style: "height: 100%; width: 100%; object-fit: cover;" %>
          </div>
          <div class="carousel-item" data-bs-interval="2000" style= "height: 700px; object-fit: cover;">
            <%= image_tag "orque.jpg", style: "height: 100%; width: 100%; object-fit: cover;" %>
          </div>
          <div class="carousel-item" data-bs-interval="2000" style= "height: 700px; object-fit: cover;">
            <%= image_tag "libellule.jpg", style: "height: 100%; width: 100%; object-fit: cover;" %>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container mt-5">
    <div class= "block" >

      <div class="heading-text">
        <h3 class="font-762333 h3 text-color-187676-color">
          <span>How to rent a pet ?</span>
        </h3>
      </div>

      <div class= "d-flex justify-content-between" >
        <div class="icon-box-icon-box-left">
          <div class="icon-box-icon-fa-container">
            <span class="text-color-192233-color btn-disable-hover">
              <i class="fa fa-tag fa-3x fa-fw"></i>
            </span>
            </div>
          <div class="icon-box-content-left">
            <div class="icon-box-heading icon-box-fa-3x">
              <h6 class="font-762333 h6">JE CHOISIS...</h6>
            </div>
            <p>We provide pets.
            There is something for every taste :
            <strong>Choose the one that suits you</strong>
            !
            </p>
          </div>
        </div>

        <div class="icon-box-center">
            <div class="icon-box-icon-fa-container">
              <span class="text-color-192233-color btn-disable-hover">
                <i class="fa fa-cart-arrow-down fa-3x fa-fw"></i>
              </span>
            </div>
          <div class="icon-box-content-center">
            <div class="icon-box-heading icon-box-fa-3x">
              <h6 class="font-762333 h6">I order ...</h6>
            </div>
            <p><strong>To each his own formula </strong>
            Choose from our 3 rental formulas :&nbsp;
            <strong>A little</strong>
            rental/day;
            <strong>A lot</strong>
            rental/month;
            <strong>To insanity</strong>
            rental/year.
            </p>
          </div>
        </div>

        <div class="icon-box-icon-box-right">
          <div class="icon-box-icon-fa-container">
            <span class="text-color-192233-color btn-disable-hover">
            <i class="fa fa-gift fa-3x fa-fw"></i>
            </span>
          </div>
            <div class="icon-box-content-right">
              <div class="icon-box-heading icon-box-fa-3x">
                <h6 class="font-762333 h6">I RECEIVE !</h6>
              </div>
              <p>
              Different delivery methods :
              <strong>At home</strong>
              or
              <strong>Relay point</strong>
              (<em>pet shops...</em>), according to
              <strong>your desires, your availability and your expectations !
              </strong>
              </p>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="mr-2 ml-2 ">
    <div class="row", style= "width: 100;">
      <div class="d-flex justify-content-between">



        <div class="cards-list-home">

          <%= link_to animals_path({category: "mammals"}) do %>
            <div class="card" id=card>
              <div class="card_image"> <%= image_tag "dromadaire.jpg" %></div>
              <div class="card_title title-black">
                <p style="color: black;text-decoration: underline white;">Mammals
                </p>
              </div>
            </div>
          <% end %>

          <%= link_to animals_path({category: "birds"}) do %>
            <div class="card">
              <div class="card_image"> <%= image_tag "pigeon.jpg" %> </div>
              <div class="card_title title-black">
                <p style="color: black;text-decoration: underline white;">
                Birds</p>
              </div>
            </div>
          <% end %>

          <%= link_to animals_path({category: "reptilians"}) do %>
            <div class="card">
              <div class="card_image"> <%= image_tag "crocodile.jpg" %> </div>
              <div class="card_title title-black">
                <p style="color: black;text-decoration: underline white;">
                Reptilians</p>
              </div>
            </div>
          <% end %>

          <%= link_to animals_path({category: "pisces"}) do %>
            <div class="card">
              <div class="card_image"> <%= image_tag "espadon.jpg" %> </div>
              <div class="card_title title-black">
                <p style="color: black;text-decoration: underline white;">
                Pisces</p>
              </div>
            </div>
          <% end %>

          <%= link_to animals_path({category: "amphibians"}) do %>
            <div class="card">
              <div class="card_image"> <%= image_tag "iguane.jpg" %> </div>
              <div class="card_title title-black">
                <p style="color: black;text-decoration: underline white;">
                Amphibians</p>
              </div>
            </div>
          <% end %>

          <%= link_to animals_path({category: "insects"}) do %>
            <div class="card">
              <div class="card_image"> <%= image_tag "mouche.jpg" %> </div>
              <div class="card_title title-black">
                <p style="color: black;text-decoration: underline white;">
                Insects</p>
              </div>
            </div>
          <% end %>

          <%= link_to animals_path({category: "fantastics"}) do %>
            <div class="card">
              <div class="card_image"> <%= image_tag "jormungand.jpg" %>  </div>
              <div class="card_title title-black">
                <p style="color: black;text-decoration: underline white;">Fantastics
                </p>
              </div>
            </div>
          <% end %>

          <%= link_to animals_path do %>
            <div class="card">
              <div class="card_image"> <%= image_tag "surprise.jpg" %> </div>
              <div class="card_title title-black">
                <p style="color: black;text-decoration: underline white;">Surprise!
                </p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
