<h1>Create a new <strong id="black-word">Animal</strong> rent</h1>
<div id="wrapper">
  <div class="row">
    <div class="text-left form-login">
      <h2 class="text-center"><strong>Add my animal</strong></h2>

      <%= simple_form_for @animal do |f| %>
        <%= f.input :name, placeholder: 'animal' %>
        <%= f.input :category, placeholder: 'category' %>
        <%= f.input :age, placeholder: 'age' %>
        <%= f.submit class: 'btn btn-flat' %>
      <% end %>

    </div>
  </div>
</div>
