
<h1><%= @animal.name %></h1>
<p><%= @animal.user.first_name %></p>

<% if @animal.user == current_user %>
<%= link_to "Delete", animal_path(@animal), data:{turbo_method: :delete, turbo_confirm:"Are you sure ?"} %>
<% end %>

<% if policy(@animal).edit? %>
  <%= link_to "Edit this animal", edit_animals_path(@animal) %> |
<% end %>

<%= simple_form_for [@animal, @booking] do |f| %>
  <%= f.error_notification %>
  <%= f.input :start_date, placeholder: 'start' %>
  <%= f.input :end_date, placeholder: 'end' %>
  <%= f.submit class: 'btn btn-flat' %>
<% end %>

